@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');


.card_exp {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 450px;
  width: 350px;
  min-width: 250px;
  padding: 1rem;
  border-radius: 16px;
  background: #f2f2f2;
  box-shadow: -1rem 0 3rem #00000067;
  transition: .2s;
  font-family: 'Inter', sans-serif;
}

.card:hover {
  transform: translateY(-0.4rem);
}

.card_author_exp {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.author-name {
  color: #28242f;
}

.author-name-prefix {
  color: #008170;
  font-weight: 600;
}

.author-avatar span {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  margin: 16px 10px;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}

.card_header_exp {
  margin-bottom: auto;
  color: #7a7a8c;
}

.card_header_exp p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card_header_exp .title_exp {
  font-size: 30px;
  margin: .15rem 0 auto;
  font-weight: 500;
  cursor: pointer;
  padding-top: 100;
}

.card_header_exp .title_exp:hover {
  background: linear-gradient(90deg,#008170,#005B41);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags_exp {
  margin: 1rem 1 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tags_exp a {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags_exp a:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}