
.card_p {
  border-radius: 16px;
  margin: 0;
  width: 500px;
  max-width: 20%;
  max-height: 600px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14),
    0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  background-size: cover;
}

.info_p {
  position: relative;
  max-width: 100%;
  height: 400px;
  padding-left: 10px;
  background-color: #fff;
  transform: translateY(100%) translateY(-70px) translateZ(0);
  transition: transform 0.8s ease-out;
}

.info_p:before {
  z-index: -1;
  display: block;
  position: absolute;
  content: ' ';
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(https://source.unsplash.com/collection/905011/1000x1000);
  filter: blur(10px);
  background-size: cover;
  opacity: 0.25;
  transform: translateY(100%) translateY(88px) translateZ(0);
  transition: transform 0.5s ease-out;
}

.card_p:hover .info_p,
.card_p:hover .info_p:before {
  transform: translateY(0) translateZ(0);
  border-radius: 10px;
}

.title_p {
  margin: 0;
  padding: 24px;
  font-size: 40px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.87);
}

.description_p {
  margin: 0;
  padding: 0 24px 24px;
  font-size: 16px;
  line-height: 1.5;
}



h1 {
  margin-bottom: 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: #1c5b72;
  font-size: 2.618em
}

@media (min-width:800px) {
  h1 {
    font-size: 6.236em;
    font-weight: 600;
  }
}

.description_p {
  margin-bottom: 1.3em;
  font-size: 16px;
  line-height: 1.618
}

@media (min-width:800px) {
  .description {
    font-size: 16px;
    
  }
}

.badges_p {
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  gap: 1rem;
  
  align-items: center;
  flex-wrap: wrap;
  // justify-content: center;
}

.badges_p>button {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 2px .5rem;
  cursor: pointer;
  border: none;
  border-radius: 0.975rem;
  outline: none;
}

.badges_p .blue_p {
  background-color: rgba(59, 130, 246, 0.10);
  color: rgb(59 130 246);
  border: 1px rgb(59 130 246) solid;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  

}

.wrapper_p {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 10%;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper_p .icon_p {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 5px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_p .tooltip_p {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #000;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_p .tooltip_p::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper_p .icon_p:hover .tooltip_p {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper_p .icon_p:hover span,
.wrapper_p .icon_p:hover .tooltip_p {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
}

.wrapper_p svg {
  fill: green;
}

.wrapper_p span:hover,
.wrapper_p svg:hover,
.wrapper_p .black:hover,
.wrapper_p .black:hover .tooltip,
.wrapper_p .black:hover .tooltip::before {
  background: #222;
  color: white;
  fill: white;
}